.main-card {
    background-color: var(--card-bg-color);
    border-radius: 1rem;
}

.main-card__bio {
    height: 12rem;
    background-color: var(--main-card-header);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: left;
}

.main-card__image {
    margin-left: 2rem;
    background-image: url("../../images/image-jeremy.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 7rem;
    width: 7rem;
    border-radius: 10rem;
    border: .3rem solid white;
}

.main-card__text {
    padding-left: 1.5rem;
    font-size: 1.6rem;
    color: var(--font-color-main);
}

.main-card__name {
    display: block;
    font-size: 2.4rem;
}

.main-card__btn-container {
    height: 6rem;
    display: flex;
    justify-content: space-around;
}

.main-card__btn {
    background-color: transparent;
    border: none;
    color: var(--font-color-secondary);
    font-size: 1.8rem;
}

.main-card__btn--active {
    color: white;
}

